=  simple_form_for @splash, :html => {:class => "bp"} do |f|
  = f.input :id, :as => :hidden
  = f.input :name
  = f.input :text
  = f.input :photo

  %h3 Actions
  #actions_list
    = f.simple_fields_for :actions do |af|
      %div.action_box
        = render 'actions/form', :form => af

  .actions
    %a.add_new_action Add New Action    
    = select_tag 'new_action_type', options_for_select(@available_action_types)

  %h3 Codes
  #codes_list.window
    = f.simple_fields_for :codes do |cf|
      = render 'codes/form', :form => cf
  
  .actions
    %a.add_new_code Add New Code
  
  .actions
    = f.button :submit
