=  simple_form_for @splash do |f|
  = f.input :name
  = f.input :text

  = f.simple_fields_for :actions do |af|
    = render 'actions/form', :form => af

  = f.simple_fields_for :codes do |cf|
    = cf.input :shortcode
    = cf.input :splash_id, :as => :hidden

  = f.button :submit
