%p
  %b Name:
  = @splash.name
%p
  %b Text:
  = @splash.text

- if @splash.photo.present? && @splash.photo.length > 0
  %p
    %b Photo:
    = image_tag @splash.photo
%p
  %b 
    Actions:
  %ul
    - @splash.actions.each do |action|
      %li 
        = "#{action.action_text} - #{action.class.name.split("::")[1..-1].join().underscore.titleize}"

%p
  %b Codes leading to this splash
  %br
  - @splash.codes.each do |code|
    = image_tag code_image_path(code)

= link_to 'Edit', edit_splash_path(@splash)
\|
= link_to 'Back', splashes_path
