!!! 5
%html
  %head
    = include_javascripts :citrus
    = include_stylesheets :screen, :media => 'screen, projection'
    = include_stylesheets :print, :media => 'print'
    /[if IE]
      = include_stylesheets :ie, :media => 'screen, projection'


    %title Citrus
    = csrf_meta_tag
    - if Rails.env == "production"
      :javascript
         var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-20037529-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
      
  %body.bp.two-col
    #container
      #header
        %h1 
          = link_to "Citrus", root_path
      #sidebar
      #content
        - [:error, :notice, :success, :alert].select {|f| flash[f].present? }.each do |f|
          %div(class=f)
            = flash[f]

        = yield
        #container_footer &nbsp;
    #footer
      <p>Copyright 2010 Citrus</p>
